@import "tailwindcss";


#root {
    /* color: #; */
    margin: 0 auto;
    padding: 0 auto;
    background-color: #FFFFFF;
    font-family: "Bricolage Grotesque", sans-serif;
    /* font-family: "Poppins", sans-serif; */
    letter-spacing: 0.02rem;
    width: 100%;
    /* font-size: 0.9rem; */
}

@font-face {
    font-family: "Bricolage Grotesque", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}


@font-face {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Consolas";
    src: url('/assets/Consolas-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-optical-sizing: auto;
}

html,
body {
    overflow: auto;
    scrollbar-width: none;
    /* Firefox */
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari, Edge */
}

.highlighter {
    
}