@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));


:root {
  --primary-color: #121212;
  --background-color: #f0f0f0;
}

#root {
  color: var(--primary-color);
  background-color: var(--background-color);
  margin: 0 auto;
  padding: 0;
  letter-spacing: 0.05em;
  width: 100%;
}

html,
body {
  overflow: auto;
  scrollbar-width: none;
  /* Firefox */
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari, Edge */
}

.toggle {
  position: relative;
  display: inline-block;
  width: 35px;
  height: 20px;
  background-color: darkgrey;

  border-radius: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.toggle input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 14px;
  transition: background-color 0.4s ease;
}

.slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  right: 2.5px;
  bottom: 2px;
  background-color: white;
  border-radius: 50%;
  transition: transform 0.2s ease;
}

.toggle input:checked+.slider:before {
  transform: translateX(-14px);
}

.toggle:has(input:checked) {
  background-color: gainsboro;

}



/* @font-face {
    font-family: "Bricolage Grotesque", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}


@font-face {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
} */

/* @font-face {
    font-family: "Consolas";
    src: url('/assets/Consolas-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-optical-sizing: auto;
}  */


.font {
  font-family: "BricolageGrotesque", sans-serif;
  src: url('/assets/BricolageGrotesque_24pt-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}